header{
    text-align: center;
    background-color: lightslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    color: white;
    background-image: url(https://imgs.search.brave.com/2mTMDasC-kFOEGdkFQLrJhGuFmX0-yVoC4K1mFOWxV0/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE3/MDA0MjcyOTYxMzEt/MGNjNGM0NjEwZmM2/P2ZtPWpwZyZxPTYw/Jnc9MzAwMCZhdXRv/PWZvcm1hdCZmaXQ9/Y3JvcCZpeGxpYj1y/Yi00LjEuMCZpeGlk/PU0zd3hNakEzZkRC/OE1IeHpaV0Z5WTJo/OE1URjhmRzF2ZEdo/bGNtSnZZWEprZkdW/dWZEQjhmREI4Zkh3/dw);
    font-weight: bolder;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
main, section, footer {
    padding: 20px;
    margin: 20px;
}
body{
    background-color: lightslategray;
}
p{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span{
    font-size: medium;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
